##############################
## Folders                  ##
##############################
target
logs
bak
.idea
data

##############################
## Netbeans file            ##
##############################
*.log.1
gameServer.properties
workspace.xml

##############################
## Netbeans conf            ##
##############################
.project
*.iml
*.log.1
